<p>مرحبا {{ first_name }}</p>,
<p>أهلا بك في قبسات للطباعة, الرجاء قم بمصادقة حسابك لدينا بالضغظ على الرابط أدناه</p>
<a href="{{ appUrl('/register/confirm/' + confirmation_token)}}">مصادقة الحساب</a>